input {
  border: 1px solid black;
  border-radius: 2px;

  // Removes arrow button from number input fields
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.icon-button {
  border: none;
  background: none;
  padding: 3px;
  border-radius: 3px;

  &:hover {
    background-color: #ccc;
  }

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
  }
}